<!DOCTYPE html>
<html>
	<head>



	</head>

	<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="./search">Search Users</a></li>
  <li><a href="./addUser">Add User</a></li>
</ul>

	    <h1> Users Page </h1>
	<!--renders a page that displays all your users-->
	    <p><strong> A list of all users </strong></p>
	        
	        <% parsedData.forEach (function (usersname){ %>
	     	  
	            <p>First Name: <%= usersname.firstname %></p>
	            <p>Last Name: <%= usersname.lastname %></p>
	            <p>Email: <%= usersname.email %></p> <br>
	          
	    <% }); %>

	</body>
</html>