<!DOCTYPE html>
<html>
	<head>
<link rel="stylesheet" type="text/css" href="/public/styles/styles.css">
	</head>

	<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="./search">Search Users</a></li>
  <li><a href="./addUser">Add User</a></li>
</ul>

	    <h1> Result Page </h1>
	    <p><strong> A list of matches </strong></p>
	        
	      <% if (result.length > 0) { %>  
	        <% result.forEach(function (usersname){ %>
	     	  
	            <p>First Name: <%= usersname.firstname %></p>
	            <p>Last Name: <%= usersname.lastname %></p>
	            <p>Email: <%= usersname.email %></p> <br>
        	<% }); %>

	        <% } else { %>
	          <h2>User not found</h2>
	  	    <% }; %>

	</body>
</html>