<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="./search">Search Users</a></li>
  <li><a href="./addUser">Add User</a></li>
</ul>

    <form action='/search' method='post' autocomplete="off">
    	Search for user here:<br>
    	<input type='text' name='input' value='' id='input'><br>
    	<input type='submit' value='Submit'>
    </form>

   	<ul class='list-group' id='result'></ul>

</body>
</html>

<script>

var keyOld = 0

	$('#input').keyup(function() {
		const keyNew = new Date ();
		if (keyNew - keyOld > 300) {

		var input = $(this).val();
		$('#result').empty();
		$.post('/ac', {input:input}, function(response, status) {
			for (var i = 0; i < response.length; i++){
				$('#result').append('<li> '+ response[i].firstname +' '+ response[i].lastname +' </li>')
			}
		})

		keyOld = keyNew
	} else {
		console.log('too many presses')
	}
});
	});
</script>