<!DOCTYPE html>
<html>
<head>

</head>
<body>

    <form action='/search' method='post' autocomplete="off">
    	Search for user here:<br>
    	<input type='text' name='input' value=''><br>
    	<input type='submit' value='Submit'>
    </form>

</body>
</html>